.container{
    margin: 0 20%;
    background-color: #B91450;
}

h2{
    text-transform: uppercase;
    text-align: center;
}

.h2-n1{
    padding: 20px 0;
}

/* blocco sup */

.blocco-sup{
    background-color: #fff;
    margin: 0 10%;
    border-radius: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.row{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.col{
    margin-bottom: 20px;
}

p{
    text-align: center;
}

.btn-container{
    margin-bottom: 10px;
}

/* colori */

.white{
    color: white;
}

.purple{
    color: #B91450;
}